:root {
  --padding-pre: 1rem;
}

pre {
  padding: var(--padding-pre);
  border-radius: var(--radius-md);
  overflow: auto;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
}

code:not(pre code) {
  color: var(--ifm-color-primary-darker);
  font-size: 0.875em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0.25rem;
  border-radius: var(--radius-md);
  border: 1px solid var(--border-color);
}

.highlight .chroma pre {
  padding: 0;
  border-radius: 0;
}

.highlight .chroma {
  border-radius: var(--radius-md);
}

.highlight .chroma code {
  display: inline-block;
  min-width: 100%;
}

/* Chroma syntax highlighter - fix highlight line height mismatch */
/* https://github.com/alecthomas/chroma/issues/722 */
.highlight .chroma .lntable .lnt,
.highlight .chroma .lntable .hl {
  display: flex;
}

.highlight .chroma .lntable .lntd + .lntd {
  width: 100%;
}

.highlight .chroma .lntable {
  display: block;
  overflow-x: auto;
}

/* 用 border 撐開空間 */
.highlight .chroma .lntable .lnt,
.highlight .chroma .lntable .hl .lnt {
  border-left: var(--padding-pre) solid transparent;
}

/* 修正：選中實際的代碼內容區域 */
.highlight .chroma .lntable .cl {
  border-right: var(--padding-pre) solid transparent;
}
