// 1. Base Styles
@import 'base/variables';
@import 'base/typography';
@import 'base/code';
@import 'base/grid';

// 2. Components
@import 'components/header';
@import 'components/sidebar';
@import 'components/content';
@import 'components/toc';
@import 'components/navigation';
@import 'components/breadcrumbs';
@import 'components/tabs';
@import 'components/footer';
@import 'components/mobile-menu';
@import 'components/code-copy';
@import 'components/github-blockquote';

// 3. Pages
@import 'pages/404';
@import 'pages/blog';
@import 'pages/home';
@import 'pages/section';
@import 'pages/taxonomy';

// 4. Utilities
@import 'utilities/scrollbar';

// 5. Syntax Highlighting
@import 'vendor/chroma';

// 6. Custom CSS (if exists)
@import 'custom';