<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  {{- $meta := .Store.Get "sidebar-meta" }}
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="layout-{{ .Kind }}">
    <a href="#main-content" class="skip-to-main">
      {{ i18n "skipToMain" | default "Skip to main content" }}
    </a>
    {{ partial "sidebar-debug.html" . }}
    <div>
      {{ partial "header.html" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}
    </div>

    {{ if site.Params.sidebarCachedRender }}
      {{ partialCached "mobile-menu-cached.html" . $meta.sidebar }}
    {{ else }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
  </body>
</html>
