<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  {{- partialCached "sidebar-init.html" . -}}
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="scrollbar-thin">
    {{ partial "sidebar-debug.html" . }}
    <div class="layout-{{ .Kind }}">
      {{ partial "header.html" . }}
      {{ if or (eq .Kind "404") (eq .Kind "home") }}
        <main>
          {{ block "main" . }}{{ end }}
        </main>
      {{ else }}
        <div class="content-wrapper">
          {{ partial "sidebar.html" . }}
          <div class="content" id="swup">
            <main>
              {{ block "main" . }}{{ end }}
            </main>
          {{ if ge (len (.TableOfContents)) 33 -}}
            <div class="toc-column" id="toc-container">
              <nav class="toc-nav">
                {{ .TableOfContents }}
              </nav>
            </div>
          {{ end }}
          </div>
        </div>
      {{ end }}
      {{ partial "footer.html" . }}
    </div>

    <!-- Mobile Components (only visible on mobile) -->
    {{ partial "mobile-menu.html" . }}
  </body>
</html>
